body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.main_box{
    text-align: center;
    border: 1px solid #020000;
    padding: 20px;
    border-radius: 10px;
}

.first_block {
    display: flex;
    margin: 10px 0;
}

.second_block {
    display: flex;
    margin: 10px 0;
}

.first_block input, .first_block select {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.second_block input, .second_block select {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #C2C2C2;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #7A7A7A;
}